In [1]:
import os
import pandas as pd
from tangermeme.match import extract_matching_loci
from tangermeme.io import extract_loci

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [11]:
outdir = "/cellar/users/aklie/data/datasets/Chiou2021_islet_snATAC-seq/results/sequence_models/loci"

# Make if not exists
os.makedirs(outdir, exist_ok=True)

In [3]:
loci = pd.read_csv(
    "/cellar/users/aklie/data/datasets/Chiou2021_islet_snATAC-seq/results/integration/atac/filtered_peaks/beta_1.filt.narrowPeak", 
    sep='\t', 
    usecols=[0, 1, 2], 
    header=None, 
    index_col=False, 
    names=['chrom', 'start', 'end']
)

In [4]:
matched_loci = extract_matching_loci(
    loci=loci,
    fasta="/cellar/users/aklie/data/ref/genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna",
    #bigwig="/cellar/users/aklie/data/datasets/Chiou2021_islet_snATAC-seq/results/integration/atac/insertion_counts/beta_1_unstranded.bw",
    #signal_beta=0.001,
    random_state=1234,
    verbose=True
)

Loading Loci:   0%|          | 0/194058 [00:00<?, ?it/s]

Loading Loci: 100%|██████████| 194058/194058 [01:58<00:00, 1630.81it/s]
100%|██████████| 24/24 [02:50<00:00,  7.11s/it]

GC Bin	Background Count	Peak Count	Chosen Count
0.00:        0	       0	       0
0.02:        0	       0	       0
0.04:        1	       0	       0
0.06:        6	       0	       0
0.08:       11	       0	       0
0.10:       12	       0	       0
0.12:       16	       0	       0
0.14:       25	       1	       1
0.16:       37	       0	       0
0.18:       35	       0	       0
0.20:       70	       2	       2
0.22:      122	      15	      15
0.24:      239	      17	      17
0.26:     1355	      41	      41
0.28:     8145	     261	     261
0.30:    30096	    1472	    1472
0.32:    68765	    5225	    5225
0.34:   114817	   11198	   11198
0.36:   156075	   18277	   18277
0.38:   180991	   21775	   21775
0.40:   160411	   22369	   22369
0.42:   126300	   20516	   20516
0.44:   100928	   17021	   17021
0.46:    78587	   13874	   13874
0.48:    55021	   11108	   11108
0.50:    37546	    9292	    9292
0.52:    24723	    7749	    7749
0.54:    17163	    6740	    6740
0.56:    12215	    5845	    5845
0.58:     8661	    5269	    7873
0.60:     5612	    4445	    5612
0.62:     3547	    3642	    3547
0.64:     2288	    2878	    2288
0.66:     1137	    2011	    1137
0.68:      469	    1376	     469
0.70:      145	     801	     145
0.72:       78	     481	      78
0.74:       40	     193	      40
0.76:       15	      80	      15
0.78:        4	      28	       4
0.80:        3	       6	       3
0.82:        0	       2	       0
0.84:        1	       0	       1
0.86:        0	       0	       0
0.88:        0	       0	       0
0.90:        0	       0	       0
0.92:        0	       0	       0
0.94:        0	       0	       0
0.96:        0	       0	       0
0.98:        0	       0	       0
1.00:        0	       0	       0

Loading Loci: 100%|██████████| 194010/194010 [02:01<00:00, 1596.11it/s]

GC-bin KS test stat:0.0194, p-value 2.88e-32

In [16]:
# Concat the loci and add column for "peak" vs "gc_matched_negative"
loci['type'] = [f"peak_{i}" for i in range(loci.shape[0])]
matched_loci['type'] = [f"gc_matched_negative_{i}" for i in range(matched_loci.shape[0])]
all_loci = pd.concat([loci, matched_loci], ignore_index=True)

In [17]:
# Save peak loci
loci.to_csv(
    os.path.join(outdir, "beta_1.peaks.bed"), 
    sep='\t', 
    header=None, 
    index=False
)

In [18]:
# Save matched loci as bed
matched_loci.to_csv(
    os.path.join(outdir, "beta_1.negatives.bed"),
    index=False,
    header=False,
    sep='\t'
)

In [19]:
# Save all loci as a bed file
all_loci.to_csv(
    os.path.join(outdir, "beta_1.bed"),
    sep='\t',
    header=False,
    index=False
)

# DONE!

---

In [42]:
loci_narrowpeak = pd.read_csv(
    "/cellar/users/aklie/data/datasets/Chiou2021_islet_snATAC-seq/results/integration/atac/filtered_peaks/beta_1.filt.narrowPeak", 
    sep='\t',
    header=None,
)
loci_narrowpeak

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,chr1,184754516,184755357,.,.,.,.,1000,.,23.312790,1452.007690,1446.072266,503.0
1,chr1,88992360,88993265,.,.,.,.,1000,.,24.745455,1341.718628,1335.973999,588.0
2,chr1,162790322,162791208,.,.,.,.,1000,.,30.974478,1158.656494,1153.329956,303.0
3,chr1,16740013,16741176,.,.,.,.,1000,.,21.426006,1104.753662,1099.557739,206.0
4,chr1,65419888,65420945,.,.,.,.,1000,.,19.782185,1085.894409,1080.741577,493.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194053,chrY,8654284,8654375,.,.,.,.,17,.,2.866934,3.414610,1.719108,22.0
194054,chrY,9798565,9798627,.,.,.,.,17,.,2.866934,3.414610,1.719108,22.0
194055,chrY,2959323,2959454,.,.,.,.,15,.,2.727273,3.192750,1.526959,24.0
194056,chrY,13417211,13417277,.,.,.,.,14,.,2.647059,3.064500,1.403297,56.0
194057,chrY,7958213,7958323,.,.,.,.,13,.,2.380952,3.002200,1.343238,24.0

In [43]:
loci_narrowpeak

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,chr1,184754516,184755357,.,.,.,.,1000,.,23.312790,1452.007690,1446.072266,503.0
1,chr1,88992360,88993265,.,.,.,.,1000,.,24.745455,1341.718628,1335.973999,588.0
2,chr1,162790322,162791208,.,.,.,.,1000,.,30.974478,1158.656494,1153.329956,303.0
3,chr1,16740013,16741176,.,.,.,.,1000,.,21.426006,1104.753662,1099.557739,206.0
4,chr1,65419888,65420945,.,.,.,.,1000,.,19.782185,1085.894409,1080.741577,493.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
194053,chrY,8654284,8654375,.,.,.,.,17,.,2.866934,3.414610,1.719108,22.0
194054,chrY,9798565,9798627,.,.,.,.,17,.,2.866934,3.414610,1.719108,22.0
194055,chrY,2959323,2959454,.,.,.,.,15,.,2.727273,3.192750,1.526959,24.0
194056,chrY,13417211,13417277,.,.,.,.,14,.,2.647059,3.064500,1.403297,56.0
194057,chrY,7958213,7958323,.,.,.,.,13,.,2.380952,3.002200,1.343238,24.0

In [44]:
# Remove 3rd and 4th columns
loci_narrowpeak = loci_narrowpeak[[0, 1, 2] + list(loci_narrowpeak.columns[6:])]
loci_narrowpeak

,0,1,2,6,7,8,9,10,11,12
0,chr1,184754516,184755357,.,1000,.,23.312790,1452.007690,1446.072266,503.0
1,chr1,88992360,88993265,.,1000,.,24.745455,1341.718628,1335.973999,588.0
2,chr1,162790322,162791208,.,1000,.,30.974478,1158.656494,1153.329956,303.0
3,chr1,16740013,16741176,.,1000,.,21.426006,1104.753662,1099.557739,206.0
4,chr1,65419888,65420945,.,1000,.,19.782185,1085.894409,1080.741577,493.0
...,...,...,...,...,...,...,...,...,...,...
194053,chrY,8654284,8654375,.,17,.,2.866934,3.414610,1.719108,22.0
194054,chrY,9798565,9798627,.,17,.,2.866934,3.414610,1.719108,22.0
194055,chrY,2959323,2959454,.,15,.,2.727273,3.192750,1.526959,24.0
194056,chrY,13417211,13417277,.,14,.,2.647059,3.064500,1.403297,56.0
194057,chrY,7958213,7958323,.,13,.,2.380952,3.002200,1.343238,24.0

In [59]:
loci_narrowpeak[12] = loci_narrowpeak[12].astype(int)

/tmp/ipykernel_507997/3181238488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loci_narrowpeak[12] = loci_narrowpeak[12].astype(int)

In [60]:
loci_narrowpeak.to_csv(
    os.path.join(outdir, "beta_1.chrombpnet.narrowPeak"),
    sep='\t',
    header=False,
    index=False
)

In [61]:
chrom_sizes = "/cellar/users/aklie/data/ref/genomes/hg38/hg38.chrom.sizes"
genome = "/cellar/users/aklie/data/ref/genomes/hg38/hg38.fa"
input_bed = "/cellar/users/aklie/data/datasets/Chiou2021_islet_snATAC-seq/results/sequence_models/loci/beta_1.chrombpnet.narrowPeak"
inputlen=2114

In [62]:
data

,0,1,2,3,4,5,6,7,8,9
0,chr1,184754516,184755357,.,1000,.,23.312790,1452.007690,1446.072266,503.0
1,chr1,88992360,88993265,.,1000,.,24.745455,1341.718628,1335.973999,588.0
2,chr1,162790322,162791208,.,1000,.,30.974478,1158.656494,1153.329956,303.0
3,chr1,16740013,16741176,.,1000,.,21.426006,1104.753662,1099.557739,206.0
4,chr1,65419888,65420945,.,1000,.,19.782185,1085.894409,1080.741577,493.0
...,...,...,...,...,...,...,...,...,...,...
194053,chrY,8654284,8654375,.,17,.,2.866934,3.414610,1.719108,22.0
194054,chrY,9798565,9798627,.,17,.,2.866934,3.414610,1.719108,22.0
194055,chrY,2959323,2959454,.,15,.,2.727273,3.192750,1.526959,24.0
194056,chrY,13417211,13417277,.,14,.,2.647059,3.064500,1.403297,56.0
194057,chrY,7958213,7958323,.,13,.,2.380952,3.002200,1.343238,24.0

In [63]:
inputlen//2

1057

In [64]:
import pyfaidx
from tqdm.auto import tqdm

chrom_sizes_dict = {line.strip().split("\t")[0]:int(line.strip().split("\t")[1]) for line in open(chrom_sizes).readlines()}
ref=pyfaidx.Fasta(genome)
data=pd.read_csv(input_bed,header=None,sep='\t')
assert(inputlen%2 == 0) # for symmtery

num_rows=str(data.shape[0])
print("num_rows:"+num_rows) 

filtered_points=0
for index,row in tqdm(data.iterrows()):
    chrom=row[0]
    start=row[1]
    end=row[2] 

    summit=start+row[9]
    start=summit-inputlen//2
    end=summit+inputlen//2

    if start < 0:
        filtered_points+=1
        continue
    if end > chrom_sizes_dict[chrom]:
        filtered_points+=1
        continue

    # calculate gc content when centered at summit
    seq=str(ref[chrom][start:end]).upper()
    g=seq.count('G')
    c=seq.count('C')
    gc=g+c
    gc_fract=round(gc/len(seq),2)

num_rows:194058

130748it [00:43, 3026.63it/s]

KeyboardInterrupt:

In [ ]:
chrom, start, end

('chr1', 184753962.0, 184756076.0)

In [33]:
end

184757019.07226562

In [31]:
ref

Fasta("/cellar/users/aklie/data/ref/genomes/hg38/hg38.fa")

In [13]:
X_matched = extract_loci(
    loci=matched_loci, 
    sequences="/cellar/users/aklie/data/ref/genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna",
)

In [17]:
X_matched.mean(axis=-1, dtype=float)

tensor([[0.1552, 0.2815, 0.4021, 0.1613],
        [0.1977, 0.2663, 0.2895, 0.2465],
        [0.1485, 0.2994, 0.4101, 0.1419],
        ...,
        [0.2365, 0.2800, 0.2583, 0.2252],
        [0.1547, 0.2029, 0.4820, 0.1604],
        [0.3032, 0.1930, 0.2219, 0.2819]], dtype=torch.float64)

In [19]:
import torch
matched_gc = X_matched.mean(axis=-1, dtype=torch.float32)[:, [1, 2]].sum(axis=1).numpy()

In [43]:
from tangermeme.io import _interleave_loci, _load_signals, _extract_locus_signal
from tangermeme.utils import one_hot_encode
import pyfaidx
import pandas as pd

In [45]:
loci = _interleave_loci(loci)

In [46]:
sequences = pyfaidx.Fasta("/cellar/users/aklie/data/ref/genomes/hg38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna")

In [47]:
signals = _load_signals(["/cellar/users/aklie/data/datasets/Chiou2021_islet_snATAC-seq/results/integration/atac/insertion_counts/beta_1_unstranded.bw"])

In [51]:
verbose = True
in_window = 2114
out_window = 1000
from tqdm.auto import tqdm
max_jitter = 0
in_signals = None
n_loci=None
min_counts=None
max_counts=None
target_idx=0
alphabet=['A', 'C', 'G', 'T']

In [52]:
seqs, signals_, in_signals_ = [], [], []
in_width, out_width = in_window // 2, out_window // 2
if signals is None and in_signals is None:
    out_width = 0

In [53]:
desc = "Loading Loci"
d = not verbose

max_width = max(in_width, out_width)
for chrom, start, end in tqdm(loci.values, disable=d, desc=desc):
    mid = start + (end - start) // 2
    start = mid - max(out_width, in_width) - max_jitter
    end = mid + max(out_width, in_width) + max_jitter

    if isinstance(sequences, dict):
        chrom_length = sequences[chrom].shape[-1]
    else:
        chrom_length = len(sequences[chrom])

    if start < 0 or end >= chrom_length: 
        continue

    if n_loci is not None and len(seqs) == n_loci:
        break 

    # Extract a window of signal using the output size
    start = mid - out_width - max_jitter
    end = mid + out_width + max_jitter + (out_window % 2)

    if signals is not None:
        signal = _extract_locus_signal(signals, chrom, start, end)

        if min_counts is not None and signal[target_idx].sum() < min_counts:
            continue

        if max_counts is not None and signal[target_idx].sum() > max_counts:
            continue

        signals_.append(signal)

    # Extract a window of signal using the input size
    start = mid - in_width - max_jitter
    end = mid + in_width + max_jitter + (in_window % 2)

    if in_signals is not None:
        in_signal = _extract_locus_signal(in_signals, chrom, start, end)
        in_signals_.append(in_signal)

    # Extract a window of sequence using the input size
    if isinstance(sequences, dict):
        seq = sequences[chrom][:, start:end]
    else:
        seq = one_hot_encode(sequences[chrom][start:end].seq.upper(),
            alphabet=alphabet)

    seqs.append(seq)

Loading Loci:   0%|          | 0/194058 [00:00<?, ?it/s]

ValueError: Character Y not in the alphabet or the set of ignored characters.

In [56]:
"Y" in sequences[chrom][start:end].seq.upper()

True

Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/cellar/users/aklie/opt/miniconda3/envs/ml4gland/lib/python3.9/site-packages/IPython/core/history.py", line 831, in writeout_cache
    self._writeout_input_cache(conn)
  File "/cellar/users/aklie/opt/miniconda3/envs/ml4gland/lib/python3.9/site-packages/IPython/core/history.py", line 814, in _writeout_input_cache
    conn.execute("INSERT INTO history VALUES (?, ?, ?, ?)",
sqlite3.DatabaseError: database disk image is malformed

In [54]:
seq

tensor([[0, 0, 0,  ..., 1, 0, 0],
        [0, 1, 0,  ..., 0, 0, 0],
        [0, 0, 0,  ..., 0, 1, 1],
        [1, 0, 1,  ..., 0, 0, 0]], dtype=torch.int8)